@media (min-width: 768px) and (max-width: 1024px) {
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.01px solid #c9cbcc;
    height: 80px;
    flex-basis: 300px;
    flex-wrap: nowrap;
    padding-bottom: 0;
  }

  .navbar a:link,
  a:visited {
    display: flex;
    justify-content: center;
    flex-basis: 200px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-left: 0.01px solid #c9cbcc;
    border-right: 0.01px solid #c9cbcc;
    border-collapse: collapse;
    color: black;
    font-weight: 500;
    padding: 24px 0;
  }

  /* Thông tin nghề nghiệp  */

  .job {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    justify-content: center;
    margin: 0 200px;
    column-gap: 40px;
    row-gap: 40px;
    color: #495057;
    margin-bottom: 100px;
  }

  .job1 {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 10% 100%;
    justify-content: center;
    padding: 300px 24px;
    padding-top: 32px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.177);
    border: 1px solid #ced4da;
  }

  .job-title {
    font-size: 1rem;
  }
  .job-content {
    height: 420px;
    padding: 20px 32px;
    line-height: 1.6;
    grid-column: 1/-1;
  }

  .job-icon {
    font-size: 38px;
    margin: 0 10px;
  }

  .job-content span {
    background-color: #228be6;
    border: none;
    border-radius: 5px;
    padding: 0 8px;
    display: inline-block;
    color: #f1f3f5;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }

  .job2 {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 10% 100%;
    justify-content: center;
    align-items: center;
    padding: 80px 24px;
    padding-top: 32px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.177);
    border: 1px solid #ced4da;
  }

  .job-content-icon {
    display: flex;
    height: 420px;
    padding: 0 18px;
    line-height: 1.6;
    grid-column: 1/-1;
    font-size: 18px;
  }

  .job-info {
    width: 100%;
  }

  /* Chung Chi  */
  .cer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: 60px;
    row-gap: 40px; */
    /* width: auto; */
  }

  .certificate1 {
    width: 240px;
    margin-right: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.177);
  }
  /* .cer-content {
    display: inline;
    width: 50px;
  } */

  /* .cer-content .text {
    padding-top: 25px;
  } */

  /* .text {
    width: 350px;
  } */

  .text h5 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: normal;
  }

  .text p {
    font-size: 15px;
    color: #c9cbcc;
  }

  /* .cer-content2 {
    padding-left: 20px;
    border-left: 2px solid #d6c08d;
  } */

  /* .cer-content3 {
    padding-top: 20px;
  } */

  /* Du an  */

  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 40px;
    width: 100%;
    justify-content: center;
  }

  .project-flex {
    display: flex;
    flex-direction: column;
  }
  .project-img {
    width: 100%;
  }

  .project-title {
    font-weight: normal;
    padding: 20px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    color: #495057;
  }

  .project-icon {
    display: flex;
    gap: 15px;
    align-items: center;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }

  .project-icon span {
    color: #fff;
    border: 2px solid #228be6;
    border: none;
    border-radius: 22px;
    background-color: #228be6;
    padding: 8px 18px;
    font-size: 14px;
  }
  .project-icon p {
    font-size: 16px;
    color: #495057;
  }

  #project img {
    width: 100%;
  }

  .project-grid {
    display: flex;
    width: 100%;
  }

  .project-flex
  {
    width: 33%;
  }

  /* .cer-content {
    display: flex;
  }

  .cer-content2 {
    border: none;
  } */

  .project-icon {
    display: flex;
    width: 100%;
    align-items: self-start;
  }

  .icon-user-1,
  .icon-lamp {
    color: #495057;
    font-size: 18px;
  }

  table {
    border-collapse: collapse;
  }

  tr {
    border: 1px solid #ddd;
  }

  td {
    padding: 15px;
    text-align: left;
    color: #495057;
  }

  tr td:first-child {
    width: 110px;
    border-left: 1px solid #ddd;
    vertical-align: top;
  }
  /* Chứng chỉ  */

  .cer-content {
    flex-direction: column;
    display: flex;
    border-bottom: 2px solid #d6c08d;;
  }

  .wrap-img {
    flex: 1;
  }
  .wrap-img img {
    width: 100%;
  }

  .cer-content .text {
    flex: 1;
    padding-top: 25px;
  }

  .text h5 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: normal;
  }

  .text p {
    font-size: 15px;
    color: #c9cbcc;
  }

  .cer-content2 {
    padding-left: 20px;
    border-left: 2px solid #d6c08d;
  }

  .cer-content3 {
    padding-top: 20px;
  }

  .cer-content:last-child {
    border-bottom: none;
  }

  .wrap_place_position {
    /* display: flex; */
    /* f */
  }

  .nav-imgavt
  {
    display: none;
  }
    /* Footer */

  .footer-icon {
    text-align: center;
    line-height: 1.5;
  }
  
  .icon-facebook-circled,
  .icon-linkedin-circled,
  .icon-github-circled {
    font-size: 28px;
    color: #228be6;
  }
  .footer-icon a:link,
  a:visited {
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: #495057;
  }

  
}
